* {
    --primary: #051923;
    --secondary: rgb(1, 180, 228);
    --tertiary: rgb(144, 206, 161);
    color: white;
    background-color: hsl(193, 50, 70); 
}

/* .container {
    width: 100%;
} */

/* #mainArea {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
} */

/* #aboutbox {
    margin-top: 40px;
    border-radius: 10px;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
} */

#aboutbox a:hover {
    background-color: var(--primary);
}



#bios {
    /* display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center; */
    width: 100%;
    margin: 0px 10px;
    padding: 0px 10px;
}

#bios img {
    border-radius: 10px;
}

/* background for nav */
.nav-wrapper {
    background-color: var(--primary);
}

/* LOGO for TMDB */
.tmdb {
    background: url(https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg) no-repeat;
    height: 10px;
    width: 100px;
    margin-top: 10px;
}

/* Font style for icons */
i {
    font-style:normal;
}











.bio  {
    text-align: center;

}

#bio-card {
    background-color: var(--primary)!important;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.michael {
    padding-bottom: 22px;
}

.summary {
    width: 94vw;
}
