* {
    --primary: #051923;
    --secondary: rgb(1, 180, 228);
    --tertiary: rgb(144, 206, 161);
    color: white;
    background-color: hsl(193, 50, 70); 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(193, 30%, 90%);
}

/* background for nav */
.nav-wrapper {
    background-color: #051923
}

/* Font style for icons */
i {
    font-style:normal;
}

/* LOGO for TMDB */
.tmdb {
    background: url(https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg) no-repeat;
    height: 10px;
    width: 100px;
    margin-top: 10px;
}

.container {
    width: 100%;
    margin-left: 10px!important;
}

#maybeflex {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    width: 100vw;
}

#leftpanel, #right-panel {
    margin-top: 30px;
    padding: 25px 10px;
    border-radius: 10px;
}

form {
    margin-top: 50px;
}

.genre-card {
    background-color: var(--primary);
    height: 400px;
    width: 600px;
    margin-top: 30px;
    margin-left: 30px;
}

.question {
    font-size: 20px;
    text-align: left!important;
    margin-right: 350px;
}

.genreItem {
    margin-bottom: 20px;
}

.time-card {
    background-color: var(--primary);
    width: 600px;
    margin-top: 30px;
    margin-left: 30px;
}

.slider {
    margin-top: 50px;
    height: fit-content;
 }

 #runTime-slider {
    width: 450px;
}

.slideVal{
    margin: 10px;
}

.year-card {
    background-color: var(--primary);
    height: 220px;
    width: 600px;
    margin-top: 30px;
    margin-left: 30px;
}

#year-slider2 {
    width: 450px;
}

.rating-card {
    background-color: var(--primary);
    height: 220px;
    width: 600px;
    margin-top: 30px;
    margin-left: 30px;
}

#rating-slider3 {
    width: 450px;
}

#buttondiv {
    text-align: center;
    padding-bottom: 15px;
}

button {
    background-color: var(--primary)!important;
    width: 600px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px!important;
}

#right-panel {
    background-color: var(--primary);
}

#recbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h3 {
    font-size: 20px;
}

p {
    padding: 5px 0px;
    font-size: 20px;
}

.poster-size {
    width: 250px;
}



