
* {
    color: white;
}

.container {
    width: 100%;
    margin-left: 10px!important;
}

.container2 {
    width: 100%;
    margin-left: 0px!important;
}

.preferences-card, .blue-grey {
    background-color: var(--primary)!important;
}

#family-card {
    width: 100%;
    height: 144px;
    background-color: var(--primary);
}

#purplebox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genreItem {
    margin-bottom: 20px;
}

#toggle {
    padding-left: 50px;
}

#tgltext {
    color: white;
}

.lever {
    background-color: white;
}

#mainArea {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#aboutbox {
    border-radius: 100px;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

#bios {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    width: 75%;
    margin: 0px 10px;
    padding: 0px 10px;
}

#bios img {
    border-radius: 10px;
}

:root {
    --primary: rgb(13, 37, 63);
    --secondary: rgb(1, 180, 228);
    --tertiary: rgb(144, 206, 161)
}
/* background for nav */
.nav-wrapper {
    background-color: var(--primary);
}

/* LOGO for TMDB */
.tmdb {
    background: url(https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg) no-repeat;
    height: 10px;
    width: 100px;
    margin-top: 10px;
}

/* Font style for icons */
i {
    font-style:normal;
}
.runTime{
    font-size: 28px;
}

.slider{
    width: 100%;
    height: fit-content;
}

.slideVal{
    margin: 10px;
}

#right-panel {
    background-color: var(--primary);
}


.poster-size {
    width: 250px;
}